# Raspi virtuelle Umgebung
/Dj_env

# Python
*.pyc
__pycache__/

# Django
db.sqlite3
.env

# Tailwind / Node
theme/node_modules/
# nur temporäre CSS ignorieren, gebaute CSS ins Repo aufnehmen
theme/static/css/*.map

# VSCode / IDE
.vscode/
.idea/

# Virtuelle Umgebungen
venv/
env_Dj/
*_env
.env.bak/
venv.bak/
