/Dj_env
# Python
*.pyc
__pycache__/

# Django
db.sqlite3
.env

# Tailwind
theme/node_modules/
theme/static/css/*

# VSCode / IDE
.vscode/
.idea/
git 

# Virtuelle Umgebungen
venv/
.env/
*_env
.env.bak/
venv.bak/
*.pyc
/Dj_Versnst
